### Importing python libraries

In [3]:
#importing python libraries
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import pandas as pd

### Import data file

In [4]:
#read data (sf means dataframe which is where panda reads the CSV fie to. pd is pandas
df = pd.read_csv('C:/Users/HP/Downloads/EXCEL DATA PRACTICE/sciderate/Suicide_Rates_Overview_1985_to_2016.csv')

### View data file imported

In [4]:
#to view data after importing it your print df which is the dataframe the data is stored in 
print(df)

          country  year     sex          age  suicides_no  population  \
0         Albania  1987    male  15-24 years           21      312900
1         Albania  1987    male  35-54 years           16      308000
2         Albania  1987  female  15-24 years           14      289700
3         Albania  1987    male    75+ years            1       21800
4         Albania  1987    male  25-34 years            9      274300
...           ...   ...     ...          ...          ...         ...
27815  Uzbekistan  2014  female  35-54 years          107     3620833
27816  Uzbekistan  2014  female    75+ years            9      348465
27817  Uzbekistan  2014    male   5-14 years           60     2762158
27818  Uzbekistan  2014  female   5-14 years           44     2631600
27819  Uzbekistan  2014  female  55-74 years           21     1438935

       suicides/100k pop    country-year  HDI for year  gdp_for_year ($)   \
0                   6.71     Albania1987           NaN      2,156,624,900
1                   5.19     Albania1987           NaN      2,156,624,900
2                   4.83     Albania1987           NaN      2,156,624,900
3                   4.59     Albania1987           NaN      2,156,624,900
4                   3.28     Albania1987           NaN      2,156,624,900
...                  ...             ...           ...                ...
27815               2.96  Uzbekistan2014         0.675     63,067,077,179
27816               2.58  Uzbekistan2014         0.675     63,067,077,179
27817               2.17  Uzbekistan2014         0.675     63,067,077,179
27818               1.67  Uzbekistan2014         0.675     63,067,077,179
27819               1.46  Uzbekistan2014         0.675     63,067,077,179

       gdp_per_capita ($)       generation
0                     796     Generation X
1                     796           Silent
2                     796     Generation X
3                     796  G.I. Generation
4                     796          Boomers
...                   ...              ...
27815                2309     Generation X
27816                2309           Silent
27817                2309     Generation Z
27818                2309     Generation Z
27819                2309          Boomers

[27820 rows x 12 columns]

In [12]:
#how to view just 10 rows from your dataset
df.sample(10)

,country,year,sex,age,suicides_no,population,suicides/100k pop,country-year,HDI for year,gdp_for_year ($),gdp_per_capita ($),generation
14868,Latvia,2001,female,75+ years,29,100320,28.91,Latvia2001,NaN,"8,350,252,966",3724,Silent
4097,Belize,2011,female,55-74 years,0,11025,0.00,Belize2011,0.711,"1,487,005,600",5098,Boomers
2676,Bahrain,1997,female,55-74 years,0,13826,0.00,Bahrain1997,NaN,"6,349,202,394",11985,Silent
20572,Republic of Korea,2013,female,25-34 years,698,3536920,19.73,Republic of Korea2013,NaN,"1,305,604,981,272",27060,Millenials
2953,Barbados,1990,female,55-74 years,1,20000,5.00,Barbados1990,0.716,"2,023,318,252",8537,G.I. Generation
1872,Austria,1992,male,35-54 years,405,1034871,39.14,Austria1992,NaN,"195,078,126,346",26450,Boomers
8580,Estonia,2013,male,5-14 years,1,68210,1.47,Estonia2013,0.859,"25,137,153,149",20221,Generation Z
10934,Guatemala,2005,male,35-54 years,43,902079,4.77,Guatemala2005,0.576,"27,211,377,225",2450,Boomers
24067,Suriname,1987,male,5-14 years,0,41778,0.00,Suriname1987,NaN,"979,850,000",2951,Generation X
6619,Croatia,2015,male,5-14 years,1,212625,0.47,Croatia2015,NaN,"49,425,513,611",12351,Generation Z

In [5]:
#shows the data type, and missing values.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             27820 non-null  object
 1   year                27820 non-null  int64
 2   sex                 27820 non-null  object
 3   age                 27820 non-null  object
 4   suicides_no         27820 non-null  int64
 5   population          27820 non-null  int64
 6   suicides/100k pop   27820 non-null  float64
 7    gdp_for_year ($)   27820 non-null  object
 8   gdp_per_capita ($)  27820 non-null  int64
 9   generation          27820 non-null  object
dtypes: float64(1), int64(4), object(5)
memory usage: 2.1+ MB

In [6]:
#to  get the data structure
df.head()

,country,year,sex,age,suicides_no,population,suicides/100k pop,gdp_for_year ($),gdp_per_capita ($),generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,Boomers

### checking for missing value

In [15]:
#used to view columns with missing data
df.isnull().sum()

country              0
year                 0
sex                  0
age                  0
sucides              0
population           0
suicides/100k pop    0
gdp_for_year         0
gdp_per_capita       0
generation           0
dtype: int64

In [27]:
#use to sum missing o not data so if data(df) is empty(null) sum it. sum the empty data columns
missing = df.isnull().sum()
# it selects only the columns with more than 0 missing values from the original count of missing values, and then converts this information into a DataFrame with a clear column name 'Missing'. This DataFrame is then assigned back to the variable missing.
missing = missing[missing>0].to_frame(name='Missing')
#This method applies a background gradient to the specified subset of columns, in this case, the column named 'Missing'. The cmap='Reds' argument sets the color map to shades of red, where darker shades indicate a higher count of missing values.
missing.style.background_gradient(cmap='Reds', subset =["Missing"])

### Drop or delete column

In [28]:
#drop or delete theHDI for year column because the missing data is too much
df = df.drop('HDI for year', axis=1, inplace=True)

### know the number of rows and columns

In [7]:
#to know the number of rows and columns
df.shape

(27820, 10)

### display the columns on the table in a list form

In [8]:
#display the columns on the table in a list form
display(list(df.columns))

['country',
 'year',
 'sex',
 'age',
 'suicides_no',
 'population',
 'suicides/100k pop',
 ' gdp_for_year ($) ',
 'gdp_per_capita ($)',
 'generation']

### rename columns

In [9]:
#rename columns
df = df.rename(columns={'suicides_no': 'sucides',' gdp_for_year ($) ': 'gdp_for_year', 'gdp_per_capita ($)': 'gdp_per_capita'})

In [10]:
#display the columns on the table in a list form
display(list(df.columns))

['country',
 'year',
 'sex',
 'age',
 'sucides',
 'population',
 'suicides/100k pop',
 'gdp_for_year',
 'gdp_per_capita',
 'generation']

### Display the number of unique values in the 'country' column

In [14]:
# Display the number of unique values in the 'country' column
print(df['country'].nunique())
# Display the unique countries
print(df['country'].unique())

101
['Albania' 'Antigua and Barbuda' 'Argentina' 'Armenia' 'Aruba' 'Australia'
 'Austria' 'Azerbaijan' 'Bahamas' 'Bahrain' 'Barbados' 'Belarus' 'Belgium'
 'Belize' 'Bosnia and Herzegovina' 'Brazil' 'Bulgaria' 'Cabo Verde'
 'Canada' 'Chile' 'Colombia' 'Costa Rica' 'Croatia' 'Cuba' 'Cyprus'
 'Czech Republic' 'Denmark' 'Dominica' 'Ecuador' 'El Salvador' 'Estonia'
 'Fiji' 'Finland' 'France' 'Georgia' 'Germany' 'Greece' 'Grenada'
 'Guatemala' 'Guyana' 'Hungary' 'Iceland' 'Ireland' 'Israel' 'Italy'
 'Jamaica' 'Japan' 'Kazakhstan' 'Kiribati' 'Kuwait' 'Kyrgyzstan' 'Latvia'
 'Lithuania' 'Luxembourg' 'Macau' 'Maldives' 'Malta' 'Mauritius' 'Mexico'
 'Mongolia' 'Montenegro' 'Netherlands' 'New Zealand' 'Nicaragua' 'Norway'
 'Oman' 'Panama' 'Paraguay' 'Philippines' 'Poland' 'Portugal'
 'Puerto Rico' 'Qatar' 'Republic of Korea' 'Romania' 'Russian Federation'
 'Saint Kitts and Nevis' 'Saint Lucia' 'Saint Vincent and Grenadines'
 'San Marino' 'Serbia' 'Seychelles' 'Singapore' 'Slovakia' 'Slovenia'
 'South Africa' 'Spain' 'Sri Lanka' 'Suriname' 'Sweden' 'Switzerland'
 'Thailand' 'Trinidad and Tobago' 'Turkey' 'Turkmenistan' 'Ukraine'
 'United Arab Emirates' 'United Kingdom' 'United States' 'Uruguay'
 'Uzbekistan']

### Check if data has duplicate

In [18]:
df.duplicated().sum()

0

### Describe the data

In [13]:
#show the statistic summary of the data like the min, count, max etcbasically describes the data
#this describes the data numerically.
df.describe()

,year,suicides_no,population,suicides/100k pop,HDI for year,gdp_per_capita ($)
count,27820.000000,27820.000000,2.782000e+04,27820.000000,8364.000000,27820.000000
mean,2001.258375,242.574407,1.844794e+06,12.816097,0.776601,16866.464414
std,8.469055,902.047917,3.911779e+06,18.961511,0.093367,18887.576472
min,1985.000000,0.000000,2.780000e+02,0.000000,0.483000,251.000000
25%,1995.000000,3.000000,9.749850e+04,0.920000,0.713000,3447.000000
50%,2002.000000,25.000000,4.301500e+05,5.990000,0.779000,9372.000000
75%,2008.000000,131.000000,1.486143e+06,16.620000,0.855000,24874.000000
max,2016.000000,22338.000000,4.380521e+07,224.970000,0.944000,126352.000000

In [23]:
#describes categorical data
df.describe(include='O')

          country    sex          age   gdp_for_year    generation
count       27820  27820        27820          27820         27820
unique        101      2            6           2321             6
top     Mauritius   male  15-24 years  2,156,624,900  Generation X
freq          382  13910         4642             12          6408

### Correct spelling mistake in data

In [46]:
replace_name = {'Millenials':'Millennials', 'Boomers':'Baby Boomers'}
df['generation'] = df['generation'].replace(replace_name)

In [48]:
df.head(10)

,country,year,sex,age,sucides,population,suicides/100k pop,gdp_for_year,gdp_per_capita,generation
0,Albania,1987,male,15-24 years,21,312900,6.71,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,"2,156,624,900",796,baby boomers
5,Albania,1987,female,75+ years,1,35600,2.81,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,"2,156,624,900",796,baby boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,"2,156,624,900",796,Generation X

### Export data back as a csv file for vizualization

In [49]:
df.to_csv('C:/Users/HP/Downloads/EXCEL DATA PRACTICE/sciderate/Suicide_Rates_Overview_1985_to_2016new.csv', index=False)